NEXT_PUBLIC_API_URL="http://localhost:3333"
NEXT_PUBLIC_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA00GO6apOW8WBbOJ0EBjmxbSDcRev1kQVX+kJkEjtYtVEks7DcbV448DGRc5XxkP4wOj8eQiqwsJIRUsJ8AE8SQ8BH7wMCyi0/xHNfTYg0ysb8r4vgYds/1kpex/zDxYB20Ro7iYSY3oiKT29j+80jYWuB8dFRtL7T8R+hdaWy0WzK75Chw+OR/DCApdPjI8pKMayxYJjBAoG7cZ4JebujgKeJ9nD3yUUvRF9sdxgTRPPoQTCcGNiE8nY5mVFF+w/K9c87ncUH0J4fitCw7AojH3qNLAOz3hx0vLKCaIa1a5+5JX1Lo6ymOSCbpC0oETJobbvOirSEikEpjMOEuPuOJxKC0yopmEORL2ItzEYMNflmKnG8QO/G39/m0Sk5tRW7mUG4YC3K6SUzP62iJ+m0rNiCOnKSAAloCXUMd0NPRF9Cn6XOcZM3GPdbZx6RiU+BgIMy9gnMERKLEvMclhV94Yt6HUsRmE6PTvmPWc8xY17ybfXDcnubMzkbC8THVJRILTrmMUv9TI5ORiSv8tPmGTfEhmCMToTvEAiNHVxnlBMAhDwhe6u/i3euFJ6Pb449dkkRtBMljLYU/rCr+0kXMDOruZcR84ZWzIJ3GMZG3OXSO5exRSs43bDuA9fpbPshfDlAXFBKB6n35qIDbYMyd1rQdOz+Hx5b4uc90tviPkCAwEAAQ==\n-----END PUBLIC KEY-----"
